// *****************************************************************************
//                                    color variables
// *****************************************************************************

$text-general-color: #8B949C;
$secondary-color: #7FE4C2;
$off-color: white;
$link-color: #18D6F7;

// *****************************************************************************
//                                    Font size variables
// *****************************************************************************

$orig-small-font-size: 16px;
$orig-large-font-size: 24px;
$general-font-percent: 0.75;
$large-font-percent: 1.6;

// *****************************************************************************
//                                    Button colors variables
// *****************************************************************************

$button-colors: (
  success: #32CD32,
  error: #F08080,
  warning: #FF7F50,
  info: #9370DB,
);

// *****************************************************************************
//                                    Grid colors variables
// *****************************************************************************

$grid-colors: (
  col--3: #DDA0DD,
  col--4: $link-color,
  col--5: #66CDAA,
  col--6: #6AB4D1,
  col--7: #F08080,
  col--8: #FA8072,
  col--12: $secondary-color,
);

// *****************************************************************************
//                                    Media Queries variables
// *****************************************************************************

$break-point: 768px;
