// *****************************************************************************
//                            image frame class CSS rules
//*****************************************************************************

.img--frame {
    border: 1px solid $text-general-color;
    padding: 10px;
    width: 100%;
}

// *****************************************************************************
//                            image avatar class CSS rules
// *****************************************************************************

.img--avatar {
  width: 60%;
    @include media-query($break-point){
      width: 50%;
    }
}
